:root{
    --color-light-gray-bg:#E5EFF5;
    --color-gray-blue-text:#98A6BD;
    --color-main-dark-blue:#2AB2AF;
    --color-main-light-blue:#4ABEBD;
    --color-main-yellow:#C0DF34;
    --color-white:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-light-gray-bg);
    color: var(--color-white);
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}
h1,h2,span{
    font-weight: 700;
}
h2{
    font-size: 16px;
    font-weight: 700;
}
main{
    background: var(--color-white);
    width:650px;
    height:500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    border-radius: 10px;
    line-height: 200%;
    overflow: hidden;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.153);
}

section{
    padding: 40px;
}

section h1,h2{
    margin-bottom: 10px;
}

section#section__up{
    grid-column: 1/3;
    
}

section#section__up h1{
    color: var(--color-main-dark-blue);
}

section#section__up span{
    color: var(--color-main-yellow);
}

section#section__up p{
    color: var(--color-gray-blue-text);
}
section#section__down-left{
    display: flex;
    flex-wrap: wrap;
    background: var(--color-main-dark-blue);
}

section#section__down-left b{
    font-size: 30px;
    font-weight: 700;
}
section#section__down-left span{
    color: #6FD7D8;
}

#center{
    height: auto;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    margin-top: 20px;
    width:100%;
    height: auto;
    border-radius: 5px;
    background: var(--color-main-yellow);
    color:var(--color-white);
    font-size: 16px;
    font-weight: 400;
    line-height: 300%;
    border: none;
    align-self: flex-end;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.153);
}

section#section__down-right{
    background: var(--color-main-light-blue);
}

section#section__down-right pre{
    text-align: left;
    font-family: 'Karla', sans-serif;
    line-height: 150%;
    color: #99E9EA;
}

/* mobile version */
@media screen and (max-width: 376px){
    body{
        width: 100%;
        height: auto;
    }
    main{
        display: flex;
        flex-wrap: wrap;
        margin: 72px 32px 75px;
        height: auto;
    }
    section{
        width:100%;
        height: auto;
        padding:30px;
    }
}